<!DOCTYPE html>
<html>
<head>
    <title>Spam Email Detection</title>
    <link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <div class="container">
        <h1><i class="fa-solid fa-shield-halved"></i> Spam Detection</h1>
       <p class = "subtitle">Detect spam messages and emails instantly</p>


        <textarea id="emailText" placeholder="Enter email or message here..."></textarea>

        <div class="button-group">
    <button onclick="checkSpam()">Check Spam</button>
    <button class="reset-btn" onclick="resetForm()">Clear</button>
</div>

<p id="result" class="result"></p>


        <p id="result"></p>
    </div>

   <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
